body {
  margin: 25px;
}

#quote-box {
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  padding: 25px;
  display: block;
  margin: 0 auto;
}

#text {
  text-align: justify;
  line-height: 1.6;
  font-size: 20px;
}

#author {
  text-align: right;
  font-style: italic;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.fab {
  font-size: 40px;
  padding: 8px;
}

#new-quote {
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  background: DodgerBlue;
}
